<!-- <div class="all">
    <div class="lefter">
      <div class="text">Hosting</div>
    </div>
    <div class="left" [routerLink]="['/contact']">
      <div class="text">Contact</div>
    </div>
    <div class="center">
      <div class="explainer"><span>Page d'acceuil</span></div>
      <div class="text">Frontend Development</div>
    </div>
    <div class="right">
      <div class="text">Backend Development</div>
    </div>
    <div class="righter">
      <div class="text">SEO</div>
    </div>
  </div> -->