label.mdpError {
    font-size: large;
    color: red;
}

body{
  margin-bottom: 5%;
}

button.envoyer {
    background-color: #1798a1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
}

input {
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
    color: white;
  }
  input:focus {
    border-bottom: 2px solid #78788c;
  }