<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="header">
    <a class="logo">Projet - Application ANGULAR</a>
    <div class="header-right">
      <a [routerLink]="['/']">Acceuil</a>
      <a [routerLink]="['/contact']">Contact</a>
      <a [routerLink]="['/catalogue']">Catalogue</a>
      <a [routerLink]="['/panier']">Panier</a>
      <a [routerLink]="['/panier']">
        <img src="https://cdn.discordapp.com/attachments/1061407497598017677/1061685719153774612/Orion_ecommerce-cart_1.png">
        {{numberProduct$ | async}}
      </a>
    </div>
  </div>
</body>

</html>